.venv

build

.quarto
demo-data
.jupyter_cache
__pycache__
_freeze
site_libs
logistic_files
*.quarto_ipynb

/.quarto/
*.csv
*.json
*.gif
*.png
!thumb.png
_extensions
.secrets
.coverage
.coverage-report
.env
node_modules
index.tex
*.log
*.aux
*.html
svg
blog/resume/test.tex
_quarto_internal_scss_error.scss
dist
.data
config
blog/resume/resume.tex
blog/resume/resume*.tex
blog/components/floaty/resume-contacts.tex
blog/components/floaty/resume-links.tex
blog/components/resume/experience.tex
blog/components/floaty/links-and-contents.tex
blog/components/resume/_example_experience_files/
blog/components/resume/education.tex
blog/dev/_live_quarto_table_files/
blog/projects/blog/typedoc
blog/projects/blog/quartodoc
blog/dsa/leetcode/calendar_2/_oops_files/
.env.actions
blog/posts/keywords/*.svg
blog/build-prod
blog/posts/**/*.svg
