.venv
build

.quarto
demo-data
.jupyter_cache
__pycache__
_freeze
site_libs
logistic_files
*.quarto_ipynb

/.quarto/
*.csv
*.json
*.gif
*.png
!thumb.png
_extensions
.secrets
.coverage
.coverage-report
.env
node_modules
index.tex
*.log
*.aux
*.html
svg
blog/resume/test.tex
_quarto_internal_scss_error.scss
dist
.data
