/*-- scss:rules --*/


.floaty-container-single,
.floaty-container ul {
  padding: 0px;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/* ------------------------------------------------------------------------- */
/* Floaty infobar */

.floaty-info {
  width: 100%;
}

.floaty-info p {
  text-align: center;
  color: var(--bs-gray-100);
  filter: blur(4px);
  transition: filter 2s, color 2s;
}

/* .floaty:hover>.floaty-info, */
.floaty:hover>.floaty-info p {
  color: var(--bs-gray-600);
  filter: blur(0) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.1));
}

/* ------------------------------------------------------------------------- */
/* Default floaty table */

.floaty-container table,
.floaty-container tr,
.floaty-container td {
  border: none;
}

.floaty-container td p {
  padding: 0px;
  margin: 0px;
}

.floaty-container tr {
  transition: all 0.5s;
}

.floaty-container tr:hover {
  background: var(--bs-gray-200);
  color: var(--bs-blue);
  transform: scale(1.01);
}


/* ------------------------------------------------------------------------- */
/* Floaty lists and one offs. */

/* DO NOT SET HEIGHTS OR WIDTHS OF li or iconify-icon HERE! IT IS DONE BY JS TO PREVENT JITTER! */
.floaty iconify-icon,
.floaty-container li iconify-icon {
  filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.1));
  transition: filter 1s, transform 1s;
}


.floaty iconify-icon:hover,
.floaty-container li iconify-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.05));
}


.floaty-container li .floaty-title {
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.floaty-container-fill ul {
  justify-content: center;
  flex-wrap: nowrap;
}

@mixin wide-li {
  flex-grow: 1;
  transition: all 0.5s;
  transition-delay: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.floaty-container-wide ul li {
  @include wide-li;
}

@keyframes shiny {
  0% {
    filter: hue-rotate(15%);
  }

  33% {
    filter: hue-rotate(30%);
  }

  66% {
    filter: hue-rotate(45%);
  }

  100% {
    filter: hue-rotate(60%);
  }
}

.floaty-container-wide ul li:hover {
  transform: scale(1.2) translate(0%, -20%);
  animation: shiny 10s linear;
}

.floaty-container-wide ul li iconify-icon:hover {
  transform: none;
}


/* ------------------------------------------------------------------------- */
/* Floaty vaguely like macos. */

.floaty-container-macos ul {
  justify-content: left;
  flex-wrap: nowrap;
  /* overflow-y: scroll; */
}

.floaty-container-macos ul li {
  flex-grow: 1;
  transition: all 0.5s;
  transition-delay: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

}

.floaty-container-macos ul li p {
  margin: 0px;
  padding: 0px;
}

.floaty-container-macos ul li:hover {
  transform: scale(1.5) translate(0%, -20%);
}

.floaty-container-macos li iconify-icon {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.floaty-container-macos li iconify-icon:hover {
  transform: background 0.5s;
  border-radius: 50%;
}

/* .floaty-container-macos li iconify-icon:hover { } */


.floaty-tooltip {
  --bs-tooltip-bg: var(--bs-white);
  --bs-tooltip-color: var(--bs-black);
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.5));
}


/* ------------------------------------------------------------------------- */
/* Under construction floaty. */

// Font size on icons must be overwritten directly.
.under-construction-small,
.under-construction-medium,
.under-construction-large,
#under-construction {
  border: 5px solid red;
  border-radius: 10px;
}


.under-construction-small,
.under-construction-medium,
.under-construction-large,
#under-construction-detail {
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
}


.under-construction-small h1 {
  font-size: small;
}
