/*-- scss:rules --*/

/* .floaty-container { } */

.floaty-container-single,
.floaty-container ul {
  padding: 0px;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.floaty iconify-icon,
.floaty-container li iconify-icon {
  filter: drop-shadow(16px 16px 8px rgba(0, 0, 0, 0.5));
  transition: all 1s;
  padding: 32px;
}

.floaty-container li iconify-icon {
  height: 192px;
  width: 192px;
}

.floaty iconify-icon:hover,
.floaty-container li iconify-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.5));
}
