/*-- scss:rules --*/

/* .floaty-container { } */

.floaty-container-single,
.floaty-container ul {
  padding: 0px;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.floaty-info {
  width: 100%;
}

.floaty-info p {
  text-align: center;
  color: var(--bs-gray-100);
  filter: blur(4px);
  transition: filter 2s, color 2s;
}

/* .floaty:hover>.floaty-info, */
.floaty:hover>.floaty-info p {
  color: var(--bs-gray-600);
  filter: blur(0) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.1));
}



.floaty-container table,
.floaty-container tr,
.floaty-container td {
  border: none;
}

.floaty-container tr {
  transition: all 0.5s;
}

.floaty-container tr:hover {
  background: var(--bs-gray-200);
  color: var(--bs-blue);
  transform: scale(1.01);
}


/* DO NOT SET HEIGHTS OR WIDTHS OF li or iconify-icon HERE! IT IS DONE BY JS TO PREVENT JITTER! */
.floaty iconify-icon,
.floaty-container li iconify-icon {
  filter: drop-shadow(16px 16px 8px rgba(0, 0, 0, 0.5));
  transition: all 1s;
}


.floaty iconify-icon:hover,
.floaty-container li iconify-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.5));
}


#under-construction {
  border: 5px solid red;
  border-radius: 10px;
}


#under-construction-detail {
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
}
