/*-- scss:rules --*/

@mixin make-floaty {
  .floaty-container {
    @include make-container();

    .floaty-row {
      @include make-row();

      .floaty-item {
        @include make-col();

        .card {
          border: none;

          .card-img-top {
            display: flex;

            iconify-icon {
              margin: auto;
            }
          }

          .card-body {
            text-align: center;
          }
        }

      }
    }
  }
}

@mixin make-floaty-size ($scale, $font-size) {
  .card {
    $font-size-svg: calc($scale * $font-size);

    .card-img-top {
      min-height: $font-size-svg;
      font-size: $font-size-svg;
    }

    .card-body {
      font-size: $font-size
    }

  }
}

@mixin make-floaty-shadow($scale, $opacity) {

  $size : $scale * 1px;
  $spread : $scale * 2px;
  $shadow : drop-shadow($size $size $spread rgba(0, 0, 0, $opacity));

  .card {
    .card-img-top iconify-icon {
      filter: $shadow;
    }
  }
}

@mixin make-floaty-grow($scale) {
  .card {
    iconify-icon {
      transition: filter 1s, transform 1s;
    }

    &:hover {

      iconify-icon {
        transform: scale(100% + $scale) translateY(-$scale);
      }
    }
  }

}

@mixin make-floaty-bg($bg) {
  .card {
    iconify-icon {
      background: $bg;
      padding: 10px;
      border-radius: $border-radius-lg;
    }
  }
}


.floaty-bg-dark {
  @include make-floaty-bg($black);
}

.floaty-bg-light {
  @include make-floaty-bg($white);
}

.floaty-bg-body {
  @include make-floaty-bg($body-color);
}

.floaty {
  @include make-floaty();
}

.floaty-shadow-1 {
  @include make-floaty-shadow(4, 0.5);
}

.floaty-shadow-2 {
  @include make-floaty-shadow(8, 0.5);
}

.floaty-grow-1 {
  @include make-floaty-grow(5%);
}

.floaty-grow-2 {
  @include make-floaty-grow(8%);
}

.floaty-grow-3 {
  @include make-floaty-grow(13%);
}

.floaty-grow-4 {
  @include make-floaty-grow(21%);
}

.floaty-size-1 {
  @include make-floaty-size(4, $h1-font-size);
}

.floaty-size-2 {
  @include make-floaty-size(4, $h2-font-size);
}

.floaty-size-3 {
  @include make-floaty-size(4, $h3-font-size);
}

.floaty-size-4 {
  @include make-floaty-size(4, $h4-font-size);
}

.floaty-size-5 {
  @include make-floaty-size(4, $h5-font-size);
}

.floaty-size-6 {
  @include make-floaty-size(4, $h6-font-size);
}



/* ------------------------------------------------------------------------- */
/* Under construction floaty. */

// Font size on icons must be overwritten directly.
#under-construction {
  border: 5px solid red;
  border-radius: 10px;
}

#under-construction-detail {
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
}

.under-construction-small,
.under-construction-medium,
.under-construction-large {
  width: 100%;
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-left: 5px solid red;
  border-radius: 5px;
}
