/*-- scss:rules --*/


#jolla,
#links,
#categories,
#posts,
#where-is-the-old-blog,
#github-statistics {
  padding-bottom: 256px;
}

#listing-links .quarto-grid-item {
  border: none !important;
}

#listing-links .quarto-grid-item:hover {
  background: var(--bs-success);
}



/* ------------------------------------------------------------------------- */
/* NOTE: The following is included so that dataframes/tables are easier to 
*        distinguish from the surrounding text. 
*/

.no-filter {
  filter: none !important;
}


.cell {
  margin-top: 64px;
  margin-bottom: 64px;

  color: var(--bs-indigo);
}

.cell * {
  border-color: var(--bs-indigo);
}

.cell-output {
  background: rgba(236, 240, 241, .65);
}

.cell-output-stdout,
.dataframe {
  max-height: 512px !important;
  overflow-y: scroll;
}

.dataframe .odd {
  background: rgba(256, 260, 261, .65);
}

.cell-output-stdout code,
.cell-output-display code {
  color: var(--bs-indigo) !important;
}


.apple-logo {
  width: calc(0.84 * 512px);
  height: 512px;
  filter: invert(1) !important;
  opacity: 0.1;
}


.quarto-grid-item p.card-img-top>img {
  object-fit: fill !important;
  padding: 10px;
}


.quarto-title-banner,
.quarto-title-banner .quarto-title h1 {
  color: var(--bs-white) !important;
  background: var(--bs-success) !important;
}

.quarto-title-banner {
  filter: opacity(0.7) hue-rotate(1deg);
}


.quarto-title-meta,
.keywords {
  display: none !important;
}

#resume-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--bs-success);
}

#resume-contact a,
#resume-contact p {
  margin-right: 32px;
  display: inline;
  text-decoration: none;
}

#resume-contact .break {
  margin-left: auto;
}

#resume-contact a i {
  margin: 0px;
  height: 1em;
  width: 1em;
}


.table {
  border-top: none !important;
  border-bottom: none !important;
}

/* .card-img-top img, */
/* .card-img-top { */
/*   height: 256px; */
/* } */
