/*-- scss:rules --*/


@mixin make-gutters($size) {
  padding-left: $size;
  padding-right: $size;
}



.page-layout-custom {
  @include make-container();

  $bg-sidebar: $gray-200;
  $bg-main: $white;

  background: $bg-sidebar;
  padding-bottom: calc(3 * map-get($spacers, 5)) !important;


  // NOTE: Content independent of screen size.
  .page-layout-custom-content {
    background: $bg-sidebar;
    @include make-row();
    margin: 0px; // Makes page overflow when not set

    .page-layout-custom-main {
      background: $bg-main;
    }

    .page-layout-custom-sidebar {
      background: $bg-sidebar;
    }
  }



  // Make the columns take up the entire page around a medium view.
  @include media-breakpoint-up(xxl) {

    $gutter-size: map-get($spacers, 5);
    $page-padding: calc(3 * map-get($spacers, 5));

    .page-layout-custom-content {
      padding-left: $page-padding;
      padding-right: $page-padding;

      .page-layout-custom-sidebar {
        @include make-col(5);
        @include make-gutters($gutter-size);
        /* background: $gray-100; */
      }

      .page-layout-custom-main {
        @include make-col(7);
        @include make-gutters($gutter-size);
      }
    }

  }

  @include media-breakpoint-only(xl) {
    $gutter-size: map-get($spacers, 5);
    $page-padding: calc(map-get($spacers, 5));

    .page-layout-custom-content {
      padding-left: $page-padding;
      padding-right: $page-padding;

      .page-layout-custom-sidebar {
        @include make-col(5);
        @include make-gutters($gutter-size);
        /* background: $gray-100; */
      }

      .page-layout-custom-main {
        @include make-col(7);
        @include make-gutters($gutter-size);
      }
    }
  }

  // NOTE: Padding goes to zero because these should now be in their own
  //       rows.
  @include media-breakpoint-only(lg) {

    $gutter-size: none;
    $page-padding: map-get($spacers, 5);

    .page-layout-custom-content {
      @include make-gutters($page-padding);

      .page-layout-custom-main {
        @include make-col(12);
        @include make-gutters($gutter-size);
      }

      .page-layout-custom-sidebar {
        @include make-col(12);
        @include make-gutters($gutter-size);
      }
    }
  }

  @include media-breakpoint-only(md) {

    $gutter-size: none;
    $page-padding: map-get($spacers, 3);

    .page-layout-custom-content {
      @include make-gutters($page-padding);

      .page-layout-custom-main {
        @include make-col(12);
        @include make-gutters($gutter-size);
      }

      .page-layout-custom-sidebar {
        @include make-col(12);
        @include make-gutters($gutter-size);
      }
    }
  }

  @include media-breakpoint-down(md) {
    $gutter-size: map-get($spacers, 1);

    .page-layout-custom-content {
      @include make-gutters(none);

      .page-layout-custom-main {
        @include make-col(12);
        @include make-gutters($gutter-size);
      }

      .page-layout-custom-sidebar {
        @include make-col(12);
        @include make-gutters($gutter-size);
      }
    }
  }

}

#resume {
  #resume-headshot img {
    border-radius: 50% !important;
  }

  // Want all headers a level less large.
  h2 {
    /* border: none; */
    font-size: map-get($font-sizes, 3);
    text-align: center;
  }

  @for $size from 3 through 5 {
    h#{$size} {
      font-size: map-get($font-sizes, $size + 1)
    }
  }



  .skills-page {
    height: 80vh;
    overflow-y: scroll;
  }

  .skills-content {
    text-align: left;
  }

  #resume-skills-main {
    .card {
      margin-left: map-get($spacers, 5);
      margin-right: map-get($spacers, 5);

      border-radius: $border-radius-lg !important;
      border-width: map-get($border-widths, 5) !important;
      border-style: solid;
      border-color: var(--bs-white);

      transition: color 300ms,
        transform 100ms;

      &.hover,
      &:hover {
        $hover-color: var(--bs-blue);
        z-index: 1;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
        cursor: pointer;
        transform: scale(1.1);
        color: $hover-color;

        iconify-icon,
        i {
          color: var(--bs-blue);
        }
      }
    }

  }
}

// ------------------------------------------------------------------------- //
// Skills
/* #resume  #resume-links h2 { */
/*   display: none; */
/* } */


/*
:root {
  --angle: 0deg;
  --color-hover-1: var(--bs-blue);
  --color-hover-2: var(--bs-white);
}
*/

/*
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
*/

/*
$hover_animation: rotate 2s linear infinite !important;
$hover_gradient : conic-gradient(from var(--angle),
  var(--color-hover-1), 30deg,
  var(--color-hover-2), 35deg,
  var(--color-hover-1));
  */


/*
#resume #resume-projects ul li:hover,
#resume #resume-skills ul li:hover {
  animation: $hover_animation;
  border-image: $hover_gradient 1 !important;
  transform: scale(1.1);
}
*/
