/*-- scss:rules --*/

#tab-content .tab-pane {
  height: 80vh;
  overflow-y: scroll;
  scrollbar-color:
    var(--bs-gray-900) var(--bs-body-bg);
}

.terminal {
  text-align: left !important;
  table-layout: fixed;
  font-size: medium;
  border: none;
  font-family: monospace;
  font-weight: bolder;
  background: var(--bs-body-bg);
  color: red;
}


/* Ammendments to make overlay look nice. */
#quarto-overlay {
  background-color: rgba(0, 0, 0, .3) !important;
  backdrop-filter: blur(5px) !important;
}

#quarto-overlay .overlay-content {
  border: 5px solid red;
  width: 90vw !important;
  height: 90vh !important;
  overflow: hidden;
}

#quarto-overlay .overlay-controls {
  background: red;
  position: sticky;
  top: 0;
  z-index: 900;

}

#quarto-overlay.when-navbar {
  background-color: rgba(0, 0, 0, .8) !important;
}

#quarto-overlay.when-navbar .overlay-content {
  height: 80vh !important;
}

/* #quarto-overlay .overlay-controls-item {} */
#quarto-overlay .overlay-controls-exit {
  margin-left: auto;
}

#quarto-overlay .overlay-controls-exit:hover,
#quarto-overlay .overlay-controls-right:hover,
#quarto-overlay .overlay-controls-left:hover {
  color: red;
  background: var(--bs-black);
}

#quarto-overlay-content {
  overflow-y: scroll;
  height: 84vh;
  /* Somehow this (setting height in any way) makes overflow work. */
  backdrop-filter: blur(7px);
}

#quarto-overlay-content .terminal {
  height: auto;
  display: block;
  background: rgba(0, 0, 0, 0);
}

.quarto {
  table-layout: fixed;
  border: none;
  background: none;
  font-family: monospace;
  font-size: medium;
  color: var(--bs-white);
}


.quarto-row {
  transition: background-color 30s, color 30s;
}


.quarto-success {
  color: var(--bs-green) !important;
}

.quarto-failure {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  color: red;
}

.quarto-static {
  background-color: rgba(0, 0, 255, 0.2) !important;
  border: 1px solid var(--bs-blue);
  color: var(--bs-blue);
}


.quarto-success-new {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
}

.quarto-failure-new {
  background-color: red !important;
  color: var(--bs-white);
}

.quarto-log-kind {
  width: 7vw;
}

.quarto-log-time {
  width: 15vw;
}

/* .quarto-log-target {} */
/**/
/* .quarto-log-origin {} */

.terminal .terminal-row {
  width: 100%;
  display: block;
  color: red;
}

.terminal .quarto-target,
.terminal .quarto-origin,
.terminal .quarto-exit-code,
.terminal .quarto-command {
  color: var(--bs-white);
}


.terminal .terminal-row .terminal-row-time {
  /* width: 16vw; */
  color: var(--bs-teal);
  width: 10vw;
}

.terminal .terminal-row .terminal-row-level {
  color: var(--bs-success);
  width: 5vw;
}

.terminal .terminal-row .info {
  color: var(--bs-info);
}

.terminal .terminal-row .warning {
  color: var(--bs-warning);
}

.terminal .terminal-row .critical {
  color: var(--bs-danger);
}

.terminal .terminal-row .terminal-row-msg,
.terminal .terminal-row .terminal-row-name {
  color: var(--bs-white);
}

.terminal .terminal-row .terminal-row-name {
  text-align: right;
  width: 15vw;
}

.terminal .terminal-row .terminal-row-msg {
  width: 65vw;
}

.uvicorn-ip {
  color: var(--bs-green);
}

.uvicorn-port {
  color: var(--bs-blue);
}

.uvicorn-method {
  color: var(--bs-yellow);
}

.uvicorn-path {
  color: var(--bs-white);
}

.uvicorn-status {
  color: var(--bs-blue);
}

.uvicorn-protocol {
  color: var(--bs-red);
}


.terminal * {
  border: none;
}

.terminal td {
  padding-top: 0px;
  padding-bottom: 0px;
}

#quarto-controls table {
  border: none;
}

#quarto-controls td {
  width: 20vw;
}

#quarto-controls button {
  width: 15vw;
}

#quarto-render-notification code,
#quarto-render-notification {
  transition: 15s background;
}

#quarto-render-notification code.success.new,
#quarto-render-notification.success.new {
  background: var(--bs-blue) !important;
}

#quarto-render-notification code.failure.new,
#quarto-render-notification.failure.new {
  background: var(--bs-red) !important;
}

/* code { */
/*   background: var(--bs-gray-900); */
/* } */

/* .quarto-controls { */
/* } */

.nav-tabs .nav-link.active {
  background-color: var(--bs-black) !important;
  border-bottom: none;
}
