// vi: set ft=django:

import { Overlay } from "/js/overlay.js"
import { Quarto, QuartoRenderBanner } from "/js/live.js"

// This should allow users to extend this function.
// It needs to have a name so it can be overwritten.
function hydrateQuarto() {
  const overlay = Overlay(document.getElementById("quarto-overlay"))
  const quarto = Quarto({
    quartoOverlayControls: overlay,
    reload: {{ options.reload | default('null', true) | lower }},
    last: {{ options.last | default('null', true) }},
    filters: {{ options.filters | default('null', true) | tojson }},
    quartoLogs: {{ options.quarto_logs | default('null', true) }},
    quartoBannerInclude: {{ options.quarto_banner_include | default('null', true) | lower }}
  })

  const banner = QuartoRenderBanner({}, { 'bannerTextInnerHTML': '<text>No renders yet.</text>' })
  document.body.appendChild(banner.elem)

  return { quarto, overlay, banner }
}

window.addEventListener("load", hydrateQuarto)


