// vi: set ft=django :

import { Overlay } from '/js/overlay.js'

// NOTE: Look at ``OverlayInstances`` to get closures.
Overlay(
  document.getElementById('{{ overlay.identifier }}'),
  { {% if overlay.colorize %} colorizeOptions: {{ overlay.colorize.model_dump(mode="json") | tojson }} {% endif %} }
)

