/*-- scss:rules --*/
.animation img,
.figure img {
  filter: invert(0.87) hue-rotate(180deg) saturate(2)
}

.anim-controls button i,
.anim-buttons button i .fa-flip-horizontal,
.anim-buttons button i .fa {
  filter: invert(1) !important;
}

.cell {
  color: var(--bs-yellow);
}

.cell * {
  border-color: var(--bs-yellow);
}

.cell-output {
  background: rgba(67, 67, 67, .65);
}

.cell-output-stdout code,
.cell-output-display code {
  color: var(--bs-yellow) !important;
}

.dataframe .odd {
  background: rgba(77, 77, 77, .65);
}
