/*-- scss:rules --*/

input[type='range'] {
  appearance: none;
  background: transparent;
  border: 1px solid var(--bs-gray-800);
}


/* Does not work in brave */
input[type="range"]::-moz-range-track,
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--bs-gray-800);
  height: 0.5rem;
}

/* Does not work in brave */
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  background: var(--bs-success);
}

input[type='radio'] {
  background: var(--bs-gray-500);
  appearance: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: inline-block;

  border: 3px solid var(--bs-light);
}

input[type='radio']:checked {
  background: var(--bs-gray-300);
  border: 3px solid var(--bs-success);
}

.no-filter {
  filter: none !important;
}


/* ------------------------------------------------------------------------- */
/* NOTE: The following is included so that dataframes/tables are easier to 
*        distinguish from the surrounding text. 
*/
.cell {
  margin-top: 64px;
  margin-bottom: 64px;

  color: var(--bs-indigo);
}

.cell * {
  border-color: var(--bs-indigo);
}

.cell-output {
  background: rgba(236, 240, 241, .65);
}

.cell-output-stdout,
.dataframe {
  max-height: 512px !important;
  overflow-y: scroll;
}

.dataframe .odd {
  background: rgba(256, 260, 261, .65);
}

.cell-output-stdout code,
.cell-output-display code {
  color: var(--bs-indigo) !important;
}


.apple-logo {
  width: calc(0.84 * 512px);
  height: 512px;
  filter: invert(1) !important;
  opacity: 0.1;
}


.quarto-grid-item p.card-img-top>img {
  object-fit: fill !important;
}

/* .card-img-top img, */
/* .card-img-top { */
/*   height: 256px; */
/* } */
